---
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---
<div id="overlay"></div>
<header>
<div class="navbar">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost btn-circle" id="mobile-menu-btn">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-dark rounded-box w-52" id="menu-panel">
  <li><HeaderLink href="/">Home</HeaderLink></li>
		<li><HeaderLink href="/blog">Blog</HeaderLink></li>
		<li><HeaderLink href="/issues"><u>Issues</u></HeaderLink></li>
			<li><HeaderLink href="/facts"><u>Hypocrisy</u></HeaderLink></li>
			<li><HeaderLink href="/facts"><u>Propaganda Machine</u></HeaderLink></li>
		<li><HeaderLink href="/crimes"><u>Media Analysis</u></HeaderLink></li>
		<li><HeaderLink href="/resources">Resources</HeaderLink></li>
        <li>
				<details>
          <ul class="p-2">
					 <summary>Topics</summary>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/blog">Blog</a></li>
          </ul>
					        </details>
        </li>
      </ul>
    </div>
  </div>
  <div class="navbar-center">
    <a class="btn btn-ghost normal-case text-xl">Manufactured-Consent</a>
  </div>
  <div class="navbar-end">
    <!-- <button class="btn btn-ghost btn-circle">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" /></svg>
    </button>
    <button class="btn btn-ghost btn-circle">
      <div class="indicator">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" /></svg>
        <span class="badge badge-xs badge-primary indicator-item"></span>
      </div>
    </button> -->
  </div>
</div>
</header>


<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
	#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  z-index: 0;
  display: none;
}
li,  {
	padding: 10px 20px;
  font-weight: 700;
}

</style>
<script>
const toggleButton = document.getElementById("mobile-menu-btn");
const targetElement = document.querySelector('.dropdown:is(:not(details)) .dropdown-content');
const targetElement2 = document.getElementById("mobile-panel");
const overlay = document.getElementById("overlay");

// Add a click event listener to the button
toggleButton.addEventListener("click", function(event) {
 event.stopPropagation();
  // Toggle the visibility style of the target element
  if (targetElement.style.visibility === "hidden") {
		overlay.style.display = "block"
    targetElement.style.visibility = "visible";
  } else {
    targetElement.style.visibility = "hidden";
  	overlay.style.display = "none"
	}
});

overlay.addEventListener("click", function(event) {
    targetElement.style.visibility = "hidden";
  	overlay.style.display = "none"
})

// 	document.addEventListener("click", function(event) {
// const menu = document.querySelector(".dropdown:is(:not(details)) .dropdown-content, #mobile-menu-btn, summary.astro-3EF6KSR2");
//   const targetElement2 = event.target;

// //   // Check if the clicked element is within the menu
//   if ((!menu.contains(targetElement2)) || (!targetElement2.classList.contains("astro-3EF6KSR2"))) {
//     // Clicked outside the menu, do something...
//     targetElement.style.visibility = "hidden";
//   	overlay.style.display = "none"
//   }
// });

</script>